body{
  
  background: url(backg.jpg);
  background-position: center;
  font-family: sans-serif;
}

.logInBox{
   width: 320px;
   height=420px;
   background:#000;
   color: #fff;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   position:absolute;
   box-sizing: border-box;
   padding: 70px 30px;
}

.avatar{
   width:100px;
   height: 100px;
   border-radius:100%;
   position: absolute;
   top:-50px;
   left:100px;

}

h1{
   margin:0;
   padding:0 0 20px;
   text-align: center;
   font-size:22px;
}

.logInBox p{
   margin: 0;
   padding:0;
   font-weight:bold;
}

.logInBox input{
   width: 100%;
   margin-bottom: 20px;
   font-weight:bold;
}

.logInBox input[type="text"], input[type="password"]
{
  border:none;
  border-bottom:1px solid #fff;
  background: transparent;
  height:40px;
  color:#fff; 
  font-size: 16px;

}

.logInBox input[type="submit"]
{
  border:none;
  height: 40px;
  background: #fb2525;
  color:#fff;
  font-size: 18px;
  border-radius:10px;

}

.logInBox input[type="submit"]:hover
{
   cursor:pointer;
   background: #ffc107;
   color: #000;
      
}

.logInBox a{
   text-decoration:none;
   font-size:12px;
   line-height:20px;
   color:darkgrey;
}

.logInBox a:hover{
   color:#ffc107;
}

.valid {
  color: green;
}


.invalid {
  color: red;
}

